<!doctype html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/stylechat.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>

<body>
    <div class="sidenav">
        <a href="#about" class="avatar"><img src="images/avatar.png"></a>
        <a href="chatnewcuongmoichinh"><img src="images/chat.png"></a>
        <a href="danhbanewcuongmoithem"><img src="images/danhba.png" alt=""></a>
        <a style="padding-top: 400px;" href="#"><img src="images/logout.png" alt=""></a>
    </div>
    <div>
        <div style="display: flex;">
            <div class="col-3" style="border-right: 1px solid;padding-left: 90px;">
                <div id="tinnhan" class="tinnhan">
                    <h5>Tumblrz - <span>Võ Chí Cường</span></h5>
                    <hr>
                    <div class="chatbox">
                        <div class="chatboxavatar">
                            <img src="images/avatar.png">
                        </div>
                        <div class="noidung">
                            <h5>Đỗ Xuân Trúc</h5><span>Hưng có nhà không cậu</span>
                        </div>
                    </div>
                    <hr>
                    <div class="chatbox">
                        <div class="chatboxavatar">
                            <img src="images/avatar.png">
                        </div>
                        <div class="noidung">
                            <h5>Cẩm Hường</h5><span>Tiến đâu r m</span>
                        </div>
                    </div>
                    <hr>
                    <div class="chatbox">
                        <div class="chatboxavatar">
                            <img src="images/avatar.png">
                        </div>
                        <div class="noidung">
                            <h5>Cẩm Hường</h5><span>Tiến đâu r m</span>
                        </div>
                    </div>
                    <hr>
                    <div class="chatbox">
                        <div class="chatboxavatar">
                            <img src="images/avatar.png">
                        </div>
                        <div class="noidung">
                            <h5>Cẩm Hường</h5><span>Tiến đâu r m</span>
                        </div>
                    </div>
                    <hr>
                    <div class="chatbox">
                        <div class="chatboxavatar">
                            <img src="images/avatar.png">
                        </div>
                        <div class="noidung">
                            <h5>Cẩm Hường</h5><span>Tiến đâu r m</span>
                        </div>
                    </div>
                </div>
            </div>
            <!-- <div class="col-3" style="border-right: 1px solid;">
                <div id="danhba" class="tinnhan">
                    <h5>Zalo-<span>Võ Chí Cường</span></h5>
                    <hr>
                    <div class="themdanhba" style="padding-bottom: 20px;">
                        <a href=""><img src="images/add.png"> Thêm banh bạ bằng số điện thoại</a>
                    </div>
                    <div id="banbe" class="banbe">
                        <div class="avatarban">
                            <img src="images/avatar.png">
                        </div>
                        <div class="tenban">
                            Đỗ Xuân Hưng
                        </div>
                    </div>
                    <hr>
                    <div id="banbe" class="banbe">
                        <div class="avatarban">
                            <img src="images/avatar.png">
                        </div>
                        <div class="tenban">
                            Tài Tấn
                        </div>
                    </div>
                    <hr>
                    <div id="banbe" class="banbe">
                        <div class="avatarban">
                            <img src="images/avatar.png">
                        </div>
                        <div class="tenban">
                            Cẩm Hường
                        </div>
                    </div>
                    <hr>
                    <div id="banbe" class="banbe">
                        <div class="avatarban">
                            <img src="images/avatar.png">
                        </div>
                        <div class="tenban">
                            Tài Tấn
                        </div>
                    </div>
                    <hr>

                </div>
            </div> -->
            <div class="col-9">
                <img src="/images/1_0_702_1coming_soon.jpg">

            </div>
        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>

</html>